*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetNameUtils.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Java heap dump files
java_pid*.hprof
*.hprof